Options -MultiViews
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

# Serve files with correct MIME types
AddType application/javascript .js
AddType text/css .css

# Enable CORS
Header set Access-Control-Allow-Origin "*"
